<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ai-data board</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]];
            if (m != null) {
                alert(m);
            }
        })
    </script>
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section>
    <div class="content">
        <div class="board-form">
            <div class="user-info">
                <div class="user-info-sub"
                     th:object="${session.member}">
                    <p th:text="'등급 ['+*{g_name}+']'"></p>
                    <p th:text="'POINT ['+*{m_point}+']'"></p>
                </div>
            </div>
            <h2 class="login-header">게시글 목록</h2>
            <div class="search-area">
                <select id="sel">
                    <option value="b_title" selected>
                        제목
                    </option>
                    <option value="b_contents">
                        내용
                    </option>
                </select>
                <input type="text" id="keyword">
                <button id="search">검색</button>
            </div>
            <div class="data-area">
                <div class="title-row">
                    <div class="t-no p-10">번호</div>
                    <div class="t-title p-30">제목</div>
                    <div class="t-name p-15">작성자</div>
                    <div class="t-date p-30">작성일</div>
                    <div class="t-view p-15">조회수</div>
                </div>
                <div class="data-row">
                    <th:block th:if="${#lists.isEmpty(bList)}">
                        <div style="width: 100%">
                            게시글이 없습니다.
                        </div>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(bList)}">
                        <th:block th:each="bitem:${bList}">
                            <div class="t-no p-10" th:text="${bitem.b_num}"></div>
                            <div class="t-title p-30">
                                <a th:href="@{boardDetail(b_num=${bitem.b_num})}"
                                   th:text="${bitem.b_title}"></a>
                            </div>
                            <div class="t-name p-15" th:text="${bitem.m_name}"></div>
                            <div class="t-date p-30" th:text="${bitem.b_date}"></div>
                            <div class="t-view p-15" th:text="${bitem.b_views}"></div>
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="btn-area">
                <div class="paging" th:utext="${paging}"></div>
                <button class="wr-btn" id="write">
                    글쓰기
                </button>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script>
    $("#search").click(function () {
        //사용자가 입력한 검색 키워드를 가져온다.
        let keyword = $("#keyword").val();
        if (keyword == "") {
            alert("검색어를 입력하세요.");
            return;
        }
        let select = $("#sel").val();
        //검색용 uri 생성 및 실행(location.href)
        location.href = `/boardList?colname=${select}&keyword=${keyword}&pageNum=1`;
    });

    $("#write").click(function (){
        location.href = "/writeForm";
    });
</script>
</html>